<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KareFlow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" />
    <link href="{{ MEDIA_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/screen.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {% block body %}
    <div class="top-nav-wrapper">
      <div class="expense-top-nav">
        <span class="right logout-wrapper">
        <a href="#">logout</a>
        </span>
        <a href="#" class="logo-title left">
        KareFlow
        </a>
      </div>
    </div>
    <div class="container">
      <div class="row main-wrapper">
        <div class="left-column">
          <div class="filter-wrapper" id="filter-bar">
            <a href="#" id="filter-all" class="pActive pill" data-filter="all">To Do</a>
            <a href="#" id="filter-mine" class="pill" data-filter="mine">Completed</a>
          </div>
          <div id="expense-list" class="expense-wrapper">
          {% for task in tasks %}
          <ul class="line-item">
            <li class="left user-thumbnail">
              <img style="opacity:.7" src="{{ MEDIA_URL }}img/{% if task.is_call %}call{% elif task.is_schedule %}schedule{% endif %}.png" width="50" height="50"/>
            </li>
            <li class="left item-note">
              {{ task.display_text }}
            </li>
            <li class="right item-amount-status">
              <span class="{% if task.is_urgent %}status-Rejected{% else %}status-Pending{% endif %}">{{ task.action_deadline_text }}</span>
            </li>
          </ul>
          {% endfor %}
          </div>
      </div>
    </div>
    <!-- /container -->
    {% endblock %}
  </body>
</html>